[FileInfo]
src_file = C:\\Users\gurme\Downloads\Engineering Test Risk Analytics\Engineering Test Risk Analytics\Engineering Test Files\SourceFile
output_file = Combined.csv

[output_file_cols]
combined_file_cols = Source IP,Environment

[file_ops]
# 0 value means true and 1 value means false
del_file = 1
archive_file = 0